{{> nav/navbar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            {{> nav/side-nav}}
            {{> auth-modals/register}}
            {{> auth-modals/signin}}
        </div>

        <div class="col-lg-9 col-md-8">

            <h3>{{details.name}} -- {{details.type}}</h3>

            

            <div id="bubbleContainer" class="container">
                <form id="answer-sheet" class="mt-5">
                    
                    {{#each questions}}
                    
                    Question Number {{dataValues.question_number}}:<br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{dataValues.section}}{{dataValues.question_number}}" id="{{dataValues.section}}-{{dataValues.question_number}}-A" value="A">
                            <label class="form-check-label" for="inlineRadio1">A</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{dataValues.section}}{{dataValues.question_number}}" id="{{dataValues.section}}-{{dataValues.question_number}}-B" value="B">
                            <label class="form-check-label" for="inlineRadio2">B</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{dataValues.section}}{{dataValues.question_number}}" id="{{dataValues.section}}-{{dataValues.question_number}}-C" value="C">
                            <label class="form-check-label" for="inlineRadio3">C</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{dataValues.section}}{{dataValues.question_number}}" id="{{dataValues.section}}-{{dataValues.question_number}}-D" value="D">
                            <label class="form-check-label" for="inlineRadio4">D</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{dataValues.section}}{{dataValues.question_number}}" value="">
                            <label class="form-check-label" for="inlineRadio5">Omit</label>
                        </div>
                    <br>
                    <br>
                    
                    {{/each}}
                </form>
            </div>
        </div>
    </div>
</div>