<h3><i class="fas fa-pencil-alt text-warning"></i> {{details.name}} - {{details.section}} - {{details.type}}</h3>

{{!-- <div id="bubbleContainer" class="container">
    <form id="answer-sheet" class="mt-5"> --}}

    <table class="mc-bubblesheet" data-test-id="{{questions.0.dataValues.TestId}}" data-test-section="{{questions.0.dataValues.section}}">
        <tbody class="mc-body">

            {{#each questions}}
            
            {{#if mc}}
                {{> question-types/multiple-choice}}
            {{/if}}

            {{#if num}}
                {{> question-types/number}}
            {{/if}}

            {{/each}}

        </tbody>
    </table>
    
    <button class="btn btn-outline-success my-3 collect" data-test-section="{{questions.0.dataValues.section}}">Submit Answers</button>

        {{!-- <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>
</div> --}}
