<h3>Drill Down</h3>
<table class="table table-striped">
    <thead >
        <tr>
            <th>Test</th>
            <th>Section</th>
            <th class="text-center">Q#</th>
            <th class="text-center">Difficulty</th>
            <th class="text-center">Answer</th>
            <th>Tag Category</th>
            <th>Tag Group</th>
        </tr>
    </thead>
    <tbody>
        {{#each questions}}
        <tr>
            <td class="drill-exam">{{dataValues.exam}}</td>
            <td class="drill-section">{{dataValues.section}}</td>
            <td class="drill-question">{{dataValues.question_number}}</td>
            <td class="drill-diff">{{dataValues.difficulty}}</td>
            <td class="drill-ans">{{dataValues.ans_actual}}</td>
            <td class="drill-cat">{{dataValues.tag_category}}</td>
            <td class="drill-group">{{dataValues.tag_group}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>