{{#each sectionList}}
<div class="container mt-3">
    <div class="row bg-secondary m-1">
        <h4 class="px-2">
            Section Summary - {{toUpperCase ../questionList.0.dataValues.Test.dataValues.type}} -
            {{../questionList.0.dataValues.Test.dataValues.exam}} - {{toUpperCase dataValues.section}}
        </h4>
    </div>
    <div class="row mt-2 mx-1">
        <div class="col w-100 mr-2">
            <div class="row bg-secondary">
                <h4 class="px-2">
                    Score Summary
                </h4>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped my-1 border font-weight-bolder">
                    <thead>
                        <tr>
                            <th class="w-25">Score</td>
                            <th class="w-75">{{dataValues.score}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-success">
                            <td>Correct</td>
                            <td>{{numberCorrect}} ({{percentCorrect}}%)</td>
                        </tr>
                        <tr class="text-danger">
                            <td>Incorrect</td>
                            <td>{{numberIncorrect}} (Including {{skippedCount}} omitted)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row bg-secondary mt-3">
                <h4 class="px-2">Difficulty Summary</h4>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped my-1 text-center border">
                    <thead>
                        <tr>
                            <th>Easy</th>
                            <th>Medium</th>
                            <th>Hard</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                        </tr>
                        <tr>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                        </tr>
                        <tr>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row bg-secondary mt-3">
                <h4 class="px-2">Top Questions</h4>
            </div>
            <div class="row border mt-1">
                <table class="table table-bordered table-striped mb-0 text-center">
                    <thead>
                        <tr>
                            <th colspan="2" class="mt-0">{{object}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Number Correct</td>
                            <td>Questions Missed</td>
                        </tr>
                        <tr>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row border mt-2">
                <table class="table table-bordered table-striped mb-0 text-center">
                    <thead>
                        <tr>
                            <th colspan="2" class="mt-0">{{object}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Number Correct</td>
                            <td>Questions Missed</td>
                        </tr>
                        <tr>
                            <td>{{object}}</td>
                            <td>{{object}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-7">
            <div class="row bg-secondary">
                <h4 class="px-2">
                    Performance
                </h4>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped my-1">
                    <thead class="thead-light my-5">
                        <tr class="my-5">
                            <th>Q*</th>
                            <th>R*</th>
                            <th>A*</th>
                            <th>D*</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each ../questionList}}
                        {{#ifEquals dataValues.modSection ../dataValues.section}}
                        <tr>
                            <td class="py-0{{#if ../omitted}} bg-warning 
                                {{else if ../wrong}} bg-danger
                                {{/if}}">
                                <small>
                                    {{../dataValues.question_number}}
                                </small>
                            </td>
                            <td class="py-0">
                                <small>
                                    {{../dataValues.studentAnswer}}
                                </small>
                            </td>
                            {{!-- put in if else for making the answer '+' if it is the same as the student's answer --}}
                            <td class="py-0">
                                <small>{{../dataValues.ans_actual}}</small>
                                </td>
                            <td class="py-0">
                                <small>{{../dataValues.difficulty}}</small>
                                </td>
                            <td class="py-0">
                                <small>
                                    {{../dataValues.tag_category}} > {{../dataValues.tag_group}} >
                                    {{../dataValues.tag}}
                                </small>
                            </td>
                        </tr>
                        {{/ifEquals}}
                        {{/each}}
                    </tbody>
                </table>
                <p>* Q = Question</p>
                <p>* R = Response</p>
                <p>* A = Answer</p>
                <p>* D = Difficulty</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr>
    <hr>
    <br>
    <br>
</div>
{{/each}}